[kubernetes]
# 如果 k8s_type 为 compass，那么k8s_conf_path应该为控制集群的配置文件
k8s_conf_path = /compass/.kubectl.kubeconfig
# 具有平台管理员权限的租户及密码
admin_user_name = admin
admin_user_pwd = Pwd123456
# 外部域名解析检查，以空格分割
externalDomain = www.sina.com www.baidu.com www.fujiangong.com
# pod 内部域名解析域名，以空格分割
internalDomain = kubernetes.default coredns.kube-system.svc.cluster.local

[cargo]
# cargo 集群其中一个节点
node_ip = 10.0.1.126
# cargo ssh用户
ssh_user = root
# cargo ssh用户密码，如果使用的是密码登录，请把ssh_key设置为空（ssh_key =）
ssh_pwd = Caicloud@2020
# cargo ssh使用的key，如果使用key登录，请把 ssh_pwd 设置为空（ssh_pwd =）
# 使用秘钥添加节点的证书放置到 node_ip 的节点的/root/.ssh/authorized_keys，并配置： ssh_key = ssh-global
ssh_key = ssh-global
# cargo ssh端口
ssh_port = 22
# harbor镜像仓库的登录用户
harbor_user = admin
# harbor镜像仓库的登录用户密码
harbor_pwd = Pwd123456

[cmd]


[redis]
host = localhost


[info]
customer = ops