{% extends "base.html" %}

{%  block styles %}
    <style>
    div.dataTables_wrapper {
        margin-bottom: 3em;
    }
    </style>
{% endblock %}

{% block nav %}
  {%  for i in nav %}
      <li class="nav-item active">
                <a class="nav-link" href="{{ i }}">{{ i }}
                  <span class="sr-only">(current)</span>
                </a>
              </li>

    {% endfor %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
    <br>

<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> ETCD </h5>
        <p class="card-text small">
            {% for k,v in data['etcd_status'].items() %}
            {{ k }} : {{ v['data'] }} {{ v['status'] }}<br>
            {% endfor  %}
        </p>
        <span  class="badge badge-success">ready</span>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">API Server</h5>
        <p class="card-text small">
            {% for k in data['apiserver_status'] %}
             {{ k  }}<br>
            {% endfor  %}
        </p>
        <span class="badge badge-success">ready</span>
      </div>
    </div>
  </div>


<div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Controller</h5>
        <p class="card-text small">
            {% for k in data['controller_status'] %}
             {{ k  }}<br>
            {% endfor  %}
        </p>
        <span class="badge badge-success">ready</span>
      </div>
    </div>
  </div>


<div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Scheduler</h5>
        <p class="card-text small">
            {% for k in data['scheduler_status'] %}
             {{ k  }}<br>
            {% endfor  %}
        </p>
        <span class="badge badge-success">ready</span>
      </div>
    </div>
  </div>

<div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DNS</h5>
        <p class="card-text small">


                available:{{ data['coredns_status']['data']['available'] }}
                ready: {{ data['coredns_status']['data']['ready'] }}
                replicas : {{ data['coredns_status']['data']['replicas'] }}

        </p>
        <span class="badge badge-success">ready</span>
      </div>
    </div>
  </div>
<div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NSLookUp</h5>
        <p class="card-text small">
            {{ data['dns_nslookup']['data'] }}
        </p>
          {%  if data['dns_nslookup']['status']   %}
        <span class="badge badge-success">ready</span>
          {% else %}
        <span class="badge badge-danger">error</span>
          {% endif %}
      </div>
    </div>
  </div>


</div>



</div>

<hr>
 <div class="container-fluid">

      <div class="list-group">
  <p href="#" class="list-group-item active">
    <h7 class="list-group-item-heading">Resource Quota
    <span class="small badge badge-light "></span>
    </h7>


  </p>
</div>
 <div class="row">
<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cluster</h5>
        <p class="card-text small">
            {% for k,v in  data['cluster_quota'].items() %}
    {{ k }} <br>
        {%  for a,v in v.items() %}
            {{  a }} {{  v }}<br>
            {% endfor %}
    {% endfor %}
        </p>

      </div>
    </div>
  </div>

 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tenants</h5>
        <p class="card-text small">
            {% for k,v in  data['tenants_quota'].items() %}
    {{ k }} <br>
        {%  for a,v in v.items() %}
            {{  a }} {{  v }}<br>
            {% endfor %}
    {% endfor %}
        </p>

      </div>
    </div>
  </div>



 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Partitions</h5>
        <p class="card-text small">
            {% for k,v in  data['partitions_quota'].items() %}
    {{ k }} <br>
        {%  for a,v in v.items() %}
            {{  a }} {{  v }}<br>
            {% endfor %}
    {% endfor %}
        </p>

      </div>
    </div>
  </div>


 </div>




<hr>

    <div>

        <div class="list-group">
  <p href="#" class="list-group-item active">
    <h7 class="list-group-item-heading">POD_INFO
    <span class="small badge badge-light "> total {{ data['pod_info'] | length }}</span>
    </h7>


  </p>
</div>
    <table id="pod" class="display table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
            <th>ns</th>
            <th>pod_name</th>
            <th>status</th>
            <th>restart</th>
            <th>start_time</th>
            <th>ip</th>
            <th>host</th>
            <th>cpu</th>
            <th>cpu_requests</th>
            <th>cpu_limits</th>
            <th>memory</th>
            <th>memory_requests</th>
            <th>memory_limits</th>
        </tr>
    </thead>
        <tbody>
        {% for i in data['pod_info'] %}
             <tr class="small">
               <th>{{i['ns']}}</th>
               <th>{{i['name']}}</th>
               <th>{{i['status']}}</th>
               <th>{{i['restart']}}</th>
               <th>{{i['start_time']}}</th>
               <th>{{i['ip']}}</th>
               <th>{{i['host']}}</th>
               <th>{{ i['cpu'] }}</th>
               <th>{{ i['cpu_requests'] }}</th>
               <th>{{ i['cpu_limits'] }}</th>
               <th>{{ i['memory'] }}</th>
               <th>{{ i['memory_requests'] }}</th>
               <th>{{ i['memory_limits'] }}</th>
             </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

<hr>
    <div>
               <div class="list-group">
  <p href="#" class="list-group-item active">
    <h7 class="list-group-item-heading">NODE_INFO
    <span class="small badge badge-light "> total {{ data['node_info'] | length }}</span>
    </h7>


  </p>
</div>
    <table id="node" class="display table table-striped table-bordered" style="width:100%">

        <thead>
        <tr>
                <th>IP</th>
                <th>Hostname</th>
                <th>Docker</th>
                <th>NodeLoad</th>
                <th>Contrack</th>
                <th>Openfile</th>
                <th>Pid</th>
                <th>dns</th>
                <th>diskIO</th>
                <th>diskUsage</th>
                <th>nicIO</th>
                <th>Zprocess</th>
                <th>Ntp</th>
                <th>containerd</th>
                <th>kubelet</th>
                <th>kubeproxy</th>
                <th>Docker_version</th>
                <th>status</th>
                <th>kernel</th>
                <th>capacity</th>
                <th>usage</th>
            </tr>
        </thead>
        <tbody>
        {% for k,v in data['node_info'].items() %}

          <tr class="small">
          <td>{{ k }}</td>
           <td>{{ v['Hostname'] }}</td>
          <td>{{ v['docker']['dockerProcess'] }}</td>
          <td>{{ v['nodeload']['loadaverage'] }}</td>
          <td>{{ v['contrack']['contrack_used'] }}</td>
          <td>{{ v['openfile']['openfile_used'] }}</td>
          <td>{{ v['pid']['pid_used'] }}</td>
          <td>{%  for d in v['dns'] %}

               {%  for k,v in d.items() %}
                    {%  if k == 'dnsname'  %}
                      <span>{{ v }}</span>
                     {% elif k == 'result' and v | length > 0 %}
                        <span style="color: red">{{ v }}</span>
                   {% endif %}
                      {% endfor %}
          {% endfor %}
              </td>
          <td>
              {%  for i in v['diskio'] %}
                  {% for k,v in i.items() %}
                      {%  if k == "device"  %}
                         {{ v }}
                       {% elif  v['isNormal']  %}
                           <span style="color: green">OK</span>
                       {% elif  v['isNormal']  == false %}
                           <span style="color: yellow">Waring</span>
                        {% endif %}
                      {% endfor %}
                  {% endfor %}
          </td>
          <td>
            {% for r in v['diskusage'] %}

                {%  for a,v in r.items() %}
                     {{ v }}
                    {% endfor %}
                <br>
                {% endfor %}
          </td>
            <td>
                {%  for i in v['nicio'] %}
                  {% for k,v in i.items() %}
                      {%  if k == "device"  %}
                         {{ v }}
                       {% elif  v['isNormal']  %}
                           <span style="color: green">OK</span>
                       {% elif  v['isNormal']  == false %}
                           <span style="color: yellow">Waring</span>
                        {% endif %}
                      {% endfor %}
                  {% endfor %}
            </td>
            <td>{% if  v['zprocess']['checkpass']  %}
                     <span style="color:green">OK</span>
                {% else %}
                      <span style="color:red">v['zprocess']['result']</span>
                {% endif %}
              </td>
            <td>{% if  v['ntp']['checkpass']  %}
                 <span style="color: green">OK</span>
            {% else %}
                 <span style="color: red">v['ntp']['result'</span>
                {% endif %}
            </td>
            <td>{% if v['containerd']['checkpass'] %}
                <span style="color:green">OK</span>
                {% else %}
                <span style="color: red">v['containerd']['result'] </span>
                {% endif %}
            </td>
            <td>{{ v['kubelet']['process'] }}</td>
              <td>{% if v['kubeproxy']['porthealth']  %}
                   <span style="color:green">OK</span>
                {% else %}
                <span style="color: red">ERROR </span>
                {% endif %}
              </td>
              <td>{{ v['container_runtime'] }}</td>
              <td>{{ v['status'] }}</td>
              <td>{{ v['kernel'] }}</td>
              <td>{{ v['cpu']}} / {{   v['memory']  }}</td>
              <td>{{ v['cpu_usage']}} /  {{v['mem_usage'] |round(2) }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
      $(document).ready(function() {
        $('.display').DataTable({
            "scrollX": true,
            "autoWidth": false,
            "paging":   true,
            "ordering": true,
            "info":     true
        });

    } );
    </script>



{% endblock %}