{% extends "base.html" %}
{% block title %}Metrics{% endblock %}
{% block content %}
 <div>
  <h2>Jobs</h2>


     <div>
         <table border="1">
        <th>namespace</th>
        <th>name</th>
        <th>status</th>
        <th>start</th>

        {% for i in job['result'] %}
        {% if "failed" == i['status'] %}
        <tr style="background-color: red">
            {%elif "active" == i['status'] %}
        <tr style="background-color: yellow">
            {%else%}
        <tr>
            {% endif %}

            <th>{{i['ns']}}</th>
            <th>{{i['name']}}</th>
            <th>{{i['status']}}</th>
            <th>{{i['start']}}</th>
        </tr>
        {%endfor%}
    </table>
     </div>
 </div>



{% endblock %}