{% extends "base.html" %}
{% block title %}Metrics{% endblock %}
{% block content %}
 <div>
  <h2>Nodes</h2>
     <table border="1">
          <tr>
         <th>node</th>
         <th>cpu</th>
         <th>memory</th>
     </tr>
   {%  for i in metric['nodes'] %}
     <tr>
         <th>{{ i['node'] }}</th>
         <th>{{ i['cpu'] }}</th>
         <th>{{ i['memory'] }}</th>

     </tr>
     {% endfor %}
     </table>

 </div>


<div>
 <h2>
  Pods
 </h2>

 <div>
    <table border="1">
        <tr>
            <th>ns</th>
            <th>pod_name</th>
            <th>status</th>
            <th>cpu</th>
            <th>cpu_requests</th>
            <th>cpu_limits</th>
            <th>mem</th>
            <th>mem_requests</th>
            <th>mem_limits</th>
        </tr>
       {% for i in metric['pods'] %}
         <tr>
           <th>{{i[0]}}</th>
           <th>{{i[1]}}</th>
           <th>{{i[2]}}</th>
           <th>{{i[3]}}</th>
           <th>{{i[4]}}</th>
           <th>{{i[5]}}</th>
             <th>{{i[6]}}</th>
             <th>{{i[7]}}</th>
             <th>{{i[8]}}</th>

         </tr>
        {%endfor%}
    </table>

</div>
</div>
{% endblock %}