{% extends "base.html" %}
{% block title %}Metrics{% endblock %}
{% block content %}
<div>
 <h2>
  Pods
 </h2>

 <div>
    <table border="1">
        <tr>
            <th>ns</th>
            <th>pod_name</th>
            <th>status</th>
            <th>restart</th>
            <th>start_time</th>
            <th>ip</th>
            <th>host</th>
        </tr>
       {% for i in pod['result'] %}
         <tr>
           <th>{{i['ns']}}</th>
           <th>{{i['name']}}</th>
           <th>{{i['status']}}</th>
           <th>{{i['restart']}}</th>
           <th>{{i['start_time']}}</th>
           <th>{{i['ip']}}</th>
             <th>{{i['host']}}</th>
         </tr>
        {% endfor %}
    </table>

</div>
</div>
{% endblock %}